@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";

#map-container {
  margin: 30px 0;
}

#selectors {
  display: flex;
  justify-content: center;
  top: 13px;
}

#selectors.fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#select-wrap {
  display: inline-block;
  position: relative;
  height: 20px;
  background: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  padding: 11px 0;
  border-radius: 2px;
  // margin: 0 2px 0 4px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
    pointer-events: none;
    transition: border-color 0.3s ease-out;
  }

  &:first-child {
    margin-right: 10px;
  }
}

select {
  font-family: $graphik;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  letter-spacing: 0.021em;
  line-height: 20px;
  max-width: 160px;
  outline: none;
  padding: 0 35px 0 12px;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 30px;
  margin: -3px 0 0 0;
}

#map {
  width: 100%;

  * {
    position: absolute;
  }

  img {
    width: 100%;
    mix-blend-mode: multiply;
  }

  :last-child {
    position: relative;
  }

  svg {
    width: 100%;
    height: auto;
    z-index: 2;

    path {
      fill: none;
      stroke: none;
      stroke-width: 2.3px;
      vector-effect: non-scaling-stroke;

      &[data-holc_grade="A"] {
        stroke: rgb(73, 161, 73);
      }
      &[data-holc_grade="D"] {
        stroke: rgb(207, 20, 20);
      }
      &[data-holc_grade="A"] {
        stroke: #444;
      }
    }
  }
}

.chart {
  max-width: $gbody-width;
  margin: 25px auto;
  display: block;
}

.chart-tky {
  max-width: 1200px;
}

a[name] {
  color: #121212;
}

hr {
  margin: 45px auto;
  border: none;
  border-bottom: 1px solid #bbb;
  width: 140px;
}

#variable-city {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-family: $graphik;
}
