@import "styles/spectate";

// Uncomment the following line before publishing a News story
// @import "styles/news-ellipsis";

.map {
  margin: 30px 0;

  img {
    width: 100%;

    &:not(:last-child) {
      position: absolute;
    }
  }

  svg {
    width: 100%;
    height: auto;
    z-index: 2;
    position: absolute;

    path {
      fill: none;
      stroke: none;
      stroke-width: 3px;

      &[data-holc_grade="A"] { stroke: rgb(73, 161, 73); }
      &[data-holc_grade="D"] { stroke: rgb(207, 20, 20); }
    }
  }
}
