@import "./styles/spectate";

$blend: darken;

#map-container {
  position: relative;
}

#selectors {
  display: flex;
  justify-content: center;
  top: 13px;
  pointer-events: none;
}

#selectors.fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
}

#select-wrap {
  pointer-events: all;
  display: inline-block;
  position: relative;
  height: 20px;
  background: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  padding: 11px 0;
  border-radius: 2px;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    width: 0;
    height: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: rgba(0, 0, 0, 0.5) transparent transparent transparent;
    pointer-events: none;
    transition: border-color 0.3s ease-out;
  }

  &:first-child {
    margin-right: 10px;
  }
}

select {
  font-family: $graphik;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 2px;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  letter-spacing: 0.021em;
  line-height: 20px;
  max-width: 175px;
  outline: none;
  padding: 0 35px 0 12px;
  width: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  height: 30px;
  margin: -3px 0 0 0;
}

#map {
  width: 100%;

  * {
    position: absolute;
  }

  img {
    width: 100%;
    mix-blend-mode: $blend;
    &.multiply {
      mix-blend-mode: multiply;
    }
  }

  :last-child,
  :last-child *:last-child {
    position: relative;
  }

  #impervious-map {
    opacity: 0;
    transition-duration: 0.3s;

    &.visible {
      opacity: 1;
    }
  }

  svg {
    width: 100%;
    height: auto;
    z-index: 2;

    path {
      fill: none;
      stroke-width: 1.7px;
      vector-effect: non-scaling-stroke;
    }
  }
}

$a: rgb(73, 161, 73);
$b: #7cb5bd;
$c: #ffff00;
$d: rgb(207, 20, 20);
g#A path {
  stroke: $a;
}
.grade-a {
  background: $a;
}
g#B path {
  stroke: $b;
}
.grade-b {
  background: $b;
}
g#C path {
  stroke: $c;
}
.grade-c {
  background: $c;
}
g#D path {
  stroke: $d;
}
.grade-d {
  background: $d;
}
g {
  opacity: 0;
  transition-duration: 0.2s;
}

span[class^="grade-"] {
  padding: 2px 4px;
  border-radius: 2.5px;
}

.chart {
  max-width: $gbody-width;
  width: calc(100% - 40px);
  margin: 25px auto;
  display: block;
}

.chart-tky {
  max-width: 1200px;
  width: calc(100% - 40px);
}

a[name] {
  color: #121212;
}

hr {
  margin: 45px auto;
  border: none;
  border-bottom: 1px solid #bbb;
  width: 140px;
}

.variable-city {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-family: $graphik;
}

#map-container {
  #menu {
    position: sticky;
    top: 13px;
    transform: translateX(14px);
    z-index: 999;
    opacity: 0;
    transition-duration: 0.2s;

    p {
      margin: 0;
      font-family: $graphik;
      font-size: 16px;
      padding: 0 10px;
    }

    .selector-container {
      background-color: white;
      display: inline-flex;
      align-items: center;
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);

      .options {
        display: inline-flex;
        div {
          user-select: none;
          padding: 8px 10px;
          margin: 0;
          font-family: $graphik;
          // font-size: 18px;
          border-radius: 2px;
          cursor: pointer;
          border-left: 1px solid #fff;
          transition-duration: 0.2s;
          &.chosen {
            background: #333;
            color: white;
          }
        }
      }
    }

    #imp-selector {
      margin-top: 9px;
      p:first-child {
        display: none;
      }
      .options div:first-child {
        border: none;
      }
    }

    &.visible {
      opacity: 1;
    }
  }
}

#legend {
  // width and height defined in JS
  position: relative;

  div {
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: $blend;
  }
}

#legend-temp {
  box-shadow: 0 4px 12px 0 rgba(0,0,0,0.50);
}

#legend-imp {
  opacity: 0;
  transition-duration: 0.3s;
  &.visible {
    opacity: 1;
  }
}

.range-label {
  font-size: 17px;
  margin: 0;
  margin-bottom: 3px;
  font-family: Inconsolata;
  font-weight: 500;
}

.range-label,
#hue-offset {
  display: none;
}

#legend-container-container {
  margin-top: 9px;
  height: 0;
}

#legend-container {
  padding: 6px;
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);

  #x-axis-labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    p {
      padding: 0;
      text-align: right;
    }
  }

  #x-axis {
    margin-right: 9px;
  }
  svg {
    line {
      stroke-width: 1.5px;
      stroke: #121212;
    }
  }

  #y-axis {
    grid-column: 3;
    grid-row: 2;
    margin-top: 9px;
    opacity: 0;
    transition-duration: .3s;
  }

  #y-axis-label {
    grid-column: 3;
    grid-row: 3;
    opacity: 0;
    transition-duration: .3s;
  }

  .visible {
    opacity: 1 !important;
  }
}

.halo {
  text-shadow: 0px 1px 1px #fff, 0px -1px 1px #fff, 1px 0px 1px #fff, -1px 0px 1px #fff, -1.5px 0px 2px #fff, 1.5px 0px 2px #fff, 0 1.5px 2px #fff, 0 -1.5px 2px #fff;
  letter-spacing: 0.8px;
}
